# PROJETO FOME ZERO

## 0.0 - IMPORTS

In [24]:
import pandas as pd
import numpy as np
import inflection
import plotly_express as px

### 0.1 - Variáveis

In [25]:
COUNTRIES = {
   1: "India",
   14: "Australia",
   30: "Brazil",
   37: "Canada",
   94: "Indonesia",
   148: "New Zeland",
   162: "Philippines",
   166: "Qatar",
   184: "Singapure",
   189: "South Africa",
   191: "Sri Lanka",
   208: "Turkey",
   214: "United Arab Emirates",
   215: "England",
   216: "United States of America",
}
# ------------------------------------------------------------------------------------------------------------------------------------------------

COLORS = {
   "3F7E00": "darkgreen",
   "5BA829": "green",
   "9ACD32": "lightgreen",
   "CDD614": "orange",
   "FFBA00": "red",
   "CBCBC8": "darkred",
   "FF7800": "darkred",
}

### 0.2 - Funções

In [26]:
def rename_columns(df):
    df = df.copy()
    title = lambda x: inflection.titleize(x) 
    snakecase = lambda x: inflection.underscore(x) 
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old)) 
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df
# ------------------------------------------------------------------------------------------------------------------------------------------------
def country_name(country_id):
    return COUNTRIES[country_id]
# ------------------------------------------------------------------------------------------------------------------------------------------------
def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2: 
        return "normal"
    elif price_range == 3: 
        return "expensive"
    else:
        return "gourmet"
# ------------------------------------------------------------------------------------------------------------------------------------------------
def color_name(color_code): 
    return COLORS[color_code]
# ------------------------------------------------------------------------------------------------------------------------------------------------
def adjust_columns_order(dataframe):
    df = dataframe.copy()

    new_cols_order = [
        "restaurant_id",
        "restaurant_name",
        "country",
        "city",
        "address",
        "locality",
        "locality_verbose",
        "longitude",
        "latitude",
        "cuisines",
        "price_type",
        "average_cost_for_two",
        "currency",
        "has_table_booking",
        "has_online_delivery",
        "is_delivering_now",
        "aggregate_rating",
        "rating_color",
        "color_name",
        "rating_text",
        "votes",
    ]

    return df.loc[:, new_cols_order]
# ------------------------------------------------------------------------------------------------------------------------------------------------
def clean_code(df1):
    df1 = df1.dropna()
    df1["country"] = df1.loc[:, "country_code"].apply(lambda x: country_name(x))
    df1["price_type"] = df1.loc[:, "price_range"].apply(lambda x: create_price_tye(x))
    df1["color_name"] = df1.loc[:, "rating_color"].apply(lambda x: color_name(x))
    df1["cuisines"] = df1.loc[:, "cuisines"].apply(lambda x: x.split(",")[0])    
    return df1

### 0.3 - Configurações

In [27]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### 0.4 - Carregar Dados

In [28]:
df = pd.read_csv('dataset/zomato.csv')

## 1.0 - DATA DESCRIPTION

In [29]:
df1 = df.copy()
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",3100,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",800,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,700,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

### 1.1 - Descrição das Colunas

In [30]:
data = {
    'Column': ['restaurant', 'restaurant_name', 'country_code', 'city', 'address',
               'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
               'average_cost_for_two', 'currency', 'has_table_booking',
               'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
               'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
               'votes'],
    'Descrição': ['ID do restaurante', 'Nome do restaurante', 'Código do País', 'Nome da Cidade onde o restaurante está',
                 'Endereço do restaurante', 'Localização e pontos de referência do restaurante', 'Localização e pontos de referência do restaurante (Mais informações)',
                 'Ponto geográfico de Longitude do Restaurante', 'Ponto geográfico de Latitude do Restaurante', 'Tipos de Culinária servidos no restaurante', 
                 'Preço Médio de um prato para duas pessoas no restaurante', 'Moeda do país', 'Se o restaurante possui serviços de reserva; 1 - Sim; 0 - Não',
                 'Se o restaurante possui serviços de pedido on-line; 1 - Sim; 0 - Não', 'Se o restaurante faz entregas; 1 - Sim; 0 - Não', '-',
                 'Variação de preços do restaurante; 1 a 4 - Quanto maior o valor, mais caro serão os pratos', 'Nota média do restaurante', 'Código Hexadecimal da cor do restaurante com base em sua nota média',
                 'Categoria em que o restaurante está com base em sua nota média', 'Quantidade de avaliações que o restaurante já recebeu']
}

# Criar DataFrame
descricao = pd.DataFrame(data)
descricao

                  Column                                          Descrição
0             restaurant                                  ID do restaurante
1        restaurant_name                                Nome do restaurante
2           country_code                                     Código do País
3                   city             Nome da Cidade onde o restaurante está
4                address                            Endereço do restaurante
5               locality  Localização e pontos de referência do restaurante
6       locality_verbose  Localização e pontos de referência do restaura...
7              longitude       Ponto geográfico de Longitude do Restaurante
8               latitude        Ponto geográfico de Latitude do Restaurante
9               cuisines         Tipos de Culinária servidos no restaurante
10  average_cost_for_two  Preço Médio de um prato para duas pessoas no r...
11              currency                                      Moeda do país
12     has_table_booking  Se o restaurante possui serviços de reserva; 1...
13   has_online_delivery  Se o restaurante possui serviços de pedido on-...
14     is_delivering_now    Se o restaurante faz entregas; 1 - Sim; 0 - Não
15  switch_to_order_menu                                                  -
16           price_range  Variação de preços do restaurante; 1 a 4 - Qua...
17      aggregate_rating                          Nota média do restaurante
18          rating_color  Código Hexadecimal da cor do restaurante com b...
19           rating_text  Categoria em que o restaurante está com base e...
20                 votes  Quantidade de avaliações que o restaurante já ...

### 1.2 - Renomeando as Colunas

In [31]:
df1 = rename_columns(df1)
df1.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",3100,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",800,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,700,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

### 1.3 - Dimensão dos Dados

In [32]:
print(f'Número de linhas : {df1.shape[0]}')
print(f'Número de colunas : {df1.shape[1]}')

Número de linhas : 7527
Número de colunas : 21

### 1.4 - Tipos de Dados

In [33]:
df1.dtypes

restaurant_id             int64
restaurant_name          object
country_code              int64
city                     object
address                  object
locality                 object
locality_verbose         object
longitude               float64
latitude                float64
cuisines                 object
average_cost_for_two      int64
currency                 object
has_table_booking         int64
has_online_delivery       int64
is_delivering_now         int64
switch_to_order_menu      int64
price_range               int64
aggregate_rating        float64
rating_color             object
rating_text              object
votes                     int64
dtype: object

### 1.5 - Verificando NA

In [34]:
df1.isna().sum()

restaurant_id            0
restaurant_name          0
country_code             0
city                     0
address                  0
locality                 0
locality_verbose         0
longitude                0
latitude                 0
cuisines                15
average_cost_for_two     0
currency                 0
has_table_booking        0
has_online_delivery      0
is_delivering_now        0
switch_to_order_menu     0
price_range              0
aggregate_rating         0
rating_color             0
rating_text              0
votes                    0
dtype: int64

### 1.6 - Tratando NA

In [35]:
#df1 = df1.dropna()
df1.isna().sum()

restaurant_id            0
restaurant_name          0
country_code             0
city                     0
address                  0
locality                 0
locality_verbose         0
longitude                0
latitude                 0
cuisines                15
average_cost_for_two     0
currency                 0
has_table_booking        0
has_online_delivery      0
is_delivering_now        0
switch_to_order_menu     0
price_range              0
aggregate_rating         0
rating_color             0
rating_text              0
votes                    0
dtype: int64

### 1.7 - Mudar os tipos de dados

Sem necessidade de mudar

### 1.8 - Limpeza e Organização dos Dados

In [36]:

df1 = clean_code(df1)
df1 = adjust_columns_order(df1)

/var/folders/c4/75scc7l95tb5q89bl9q_4kkr0000gn/T/ipykernel_16879/2896487373.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["country"] = df1.loc[:, "country_code"].apply(lambda x: country_name(x))
/var/folders/c4/75scc7l95tb5q89bl9q_4kkr0000gn/T/ipykernel_16879/2896487373.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["price_type"] = df1.loc[:, "price_range"].apply(lambda x: create_price_tye(x))
/var/folders/c4/75scc7l95tb5q89bl9q_4kkr0000gn/T/ipykernel_16879/2896487373.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["color_name"] = df1.loc[:, "rating_color"].apply(lambda x: color_name(x))
/var/folders/c4/75scc7l95tb5q89bl9q_4kkr0000gn/T/ipykernel_16879/2896487373.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["cuisines"] = df1.loc[:, "cuisines"].apply(lambda x: x.split(",")[0])

In [37]:
df1['country'].unique()

array(['Philippines', 'Brazil', 'Australia', 'United States of America',
       'Canada', 'Singapure', 'United Arab Emirates', 'India',
       'Indonesia', 'New Zeland', 'England', 'Qatar', 'South Africa',
       'Sri Lanka', 'Turkey'], dtype=object)

## 2.0 - ANSWERS

In [38]:
df2 = df1.copy()

 ### GERAL

#### 1. Quantos restaurantes únicos estão registrados?

In [39]:
df2['restaurant_id'].nunique()

6929

#### 2. Quantos países únicos estão registrados?

In [40]:
df2.loc[:,'country'].nunique()

15

#### 3. Quantas cidades únicas estão registradas?

In [41]:
df2.loc[:,'city'].nunique()

125

#### 4. Qual o total de avaliações feitas?

In [42]:
df2.loc[:,'votes'].sum()

4638535

#### 5. Qual o total de tipos de culinária registrados?

In [43]:
df2.loc[:,'cuisines'].nunique()

165

### PAÍS

#### 1. Qual o nome do país que possui mais cidades registradas?

In [44]:
(df2.loc[:,['country', 'city']].groupby('country').nunique().sort_values('city',ascending=False).reset_index()).iloc[0,0]

'India'

#### 2. Qual o nome do país que possui mais restaurantes registrados?

In [90]:
(df2.loc[:,['country', 'restaurant_id']].groupby('country').nunique().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'India'

#### 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [47]:
(df2.loc[df2['aggregate_rating'] >= 4, ['country', 'restaurant_id']].groupby('country').count().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'India'

#### 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

In [48]:
(df2.loc[:,['country', 'cuisines']].groupby('country').nunique().sort_values('cuisines',ascending=False).reset_index()).iloc[0,0]

'India'

#### 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [49]:
(df2.loc[:,['country', 'votes']].groupby('country').nunique().sort_values('votes',ascending=False).reset_index()).iloc[0,0]

'India'

#### 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [50]:
(df2.loc[df2['is_delivering_now'] == 1,['country', 'restaurant_id']].groupby('country').nunique().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'India'

#### 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [51]:
(df2.loc[df2['has_table_booking'] == 1,['country', 'restaurant_id']].groupby('country').nunique().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'India'

#### 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [52]:
(df2.loc[:,['country', 'votes']].groupby('country').mean().sort_values('votes',ascending=False).reset_index()).iloc[0,0]

'Indonesia'

#### 9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [53]:
(df2.loc[:,['country', 'aggregate_rating']].groupby('country').mean().sort_values('aggregate_rating',ascending=False).reset_index()).iloc[0,0]

'Indonesia'

#### 10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [54]:
(df2.loc[:,['country', 'aggregate_rating']].groupby('country').mean().sort_values('aggregate_rating',ascending=True).reset_index()).iloc[0,0]

'Brazil'

#### 11. Qual a média de preço de um prato para dois por país?

In [55]:
np.round(df2.loc[:,['country', 'average_cost_for_two']].groupby('country').mean().sort_values('average_cost_for_two',ascending=True).reset_index(),2)

                     country  average_cost_for_two
0                     Canada                 41.86
1                    England                 43.05
2   United States of America                 54.93
3                 New Zeland                 61.44
4                     Turkey                128.85
5                     Brazil                137.38
6                  Singapure                141.04
7       United Arab Emirates                158.22
8                      Qatar                176.65
9               South Africa                335.48
10                     India                703.01
11               Philippines               1211.09
12                 Sri Lanka               2607.47
13                 Australia             138959.78
14                 Indonesia             312682.93

### CIDADE

#### 1. Qual o nome da cidade que possui mais restaurantes registrados?

In [56]:
(df2.loc[:,['city', 'restaurant_id']].groupby('city').nunique().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Abu Dhabi'

#### 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

In [57]:
(df2.loc[df2['aggregate_rating'] >= 4, ['city', 'restaurant_id']].groupby('city').count().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Kolkata'

#### 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

In [58]:
(df2.loc[df2['aggregate_rating'] <= 2.5, ['city', 'restaurant_id']].groupby('city').count().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Gangtok'

#### 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [59]:
np.round(df2.loc[:,['city', 'average_cost_for_two']].groupby('city').mean().sort_values('average_cost_for_two',ascending=False).reset_index(),2).iloc[0,0]

'Adelaide'

#### 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

In [60]:
(df2.loc[:, ['city', 'cuisines']].groupby('city').nunique().sort_values('cuisines', ascending=False).reset_index()).iloc[0,0]

'Birmingham'

#### 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

In [61]:
(df2.loc[df2['has_table_booking'] == 1,['city', 'restaurant_id']].groupby('city').nunique().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Bangalore'

#### 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

In [62]:
(df2.loc[df2['is_delivering_now'] == 1,['city', 'restaurant_id']].groupby('city').nunique().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Vadodara'

#### 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [63]:
(df2.loc[df2['has_online_delivery'] == 1,['city', 'restaurant_id']].groupby('city').nunique().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Bhopal'

### RESTAURANTE

#### 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

In [64]:
(df2.loc[:, ['restaurant_name', 'votes', 'restaurant_id']].sort_values(['votes','restaurant_id'], ascending=[False, True]).reset_index()).iloc[0,1]

'Bawarchi'

#### 2. Qual o nome do restaurante com a maior nota média?

In [65]:
(df2.loc[:, ['restaurant_name', 'aggregate_rating', 'restaurant_id']].sort_values(['aggregate_rating','restaurant_id'], ascending=[False, True]).reset_index()).iloc[0,1]

'Indian Grill Room'

#### 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

In [66]:
(df2.loc[:, ['restaurant_name', 'average_cost_for_two', 'restaurant_id']].sort_values(['average_cost_for_two','restaurant_id'], ascending=[False, True]).reset_index()).iloc[0,1]

"d'Arry's Verandah Restaurant"

#### 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

In [67]:
df2.loc[df2['cuisines'] == 'Brazilian', ['restaurant_name', 'restaurant_id', 'aggregate_rating']].sort_values(['restaurant_id', 'aggregate_rating'], ascending=[True, True]).reset_index().iloc[0,1]

'Texas De Brazil'

#### 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

In [68]:
linhas = (df2['cuisines'] == 'Brazilian') & (df2['country'] == 'Brazil')
df2.loc[linhas, ['restaurant_name', 'restaurant_id', 'aggregate_rating']].sort_values(['restaurant_id', 'aggregate_rating'], ascending=[True, False]).reset_index().iloc[0,1]

'Loca Como tu Madre'

#### 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

In [69]:
df2.loc[:, ['votes', 'has_online_delivery']].groupby('has_online_delivery').mean().sort_values('votes', ascending=False).reset_index()

   has_online_delivery       votes
0                    1  843.027516
1                    0  494.336901

#### 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

In [70]:
df2.loc[:, ['has_table_booking', 'average_cost_for_two']].groupby('has_table_booking').mean().sort_values('average_cost_for_two', ascending=False).reset_index()

   has_table_booking  average_cost_for_two
0                  1          62931.512821
1                  0           3460.612436

#### 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

In [71]:
lines = (df2['country'] == 'United States of America') & ((df2['cuisines'] == 'BBQ') | (df2['cuisines'] == 'Japanese'))
df2.loc[lines, ['average_cost_for_two', 'cuisines']].groupby('cuisines').mean().sort_values('average_cost_for_two', ascending=False).reset_index()

   cuisines  average_cost_for_two
0  Japanese             56.406250
1       BBQ             39.642857

### CULINÁRIA

#### 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [72]:
(df2.loc[df2['cuisines'] == 'Italian', ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False,True]).reset_index()).iloc[0,2]

'Darshan'

#### 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [73]:
(df2.loc[df2['cuisines'] == 'Italian', ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True,True]).reset_index()).iloc[0,2]

'Avenida Paulista'

#### 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [74]:
(df2.loc[df2['cuisines'] == 'American', ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False,True]).reset_index()).iloc[0,2]

'Burger & Lobster'

#### 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [75]:
(df2.loc[df2['cuisines'] == 'American', ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True,True]).reset_index()).iloc[0,2]

'Alston Bar & Beef'

#### 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [76]:
(df2.loc[df2['cuisines'] == 'Arabian', ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False,True]).reset_index()).iloc[0,2]

'Mandi@36'

#### 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [77]:
(df2.loc[df2['cuisines'] == 'Arabian', ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True,True]).reset_index()).iloc[0,2]

'Raful'

#### 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [78]:
(df2.loc[df2['cuisines'] == 'Japanese', ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False,True]).reset_index()).iloc[0,2]

'Sushi Samba'

#### 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [79]:
(df2.loc[df2['cuisines'] == 'Japanese', ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True,True]).reset_index()).iloc[0,2]

'Banzai Sushi'

#### 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [80]:
(df2.loc[df2['cuisines'] == 'Home-made', ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False,True]).reset_index()).iloc[0,2]

'Kanaat Lokantası'

#### 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [81]:
(df2.loc[df2['cuisines'] == 'Home-made', ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True,True]).reset_index()).iloc[0,2]

'GurMekan Restaurant'

#### 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [82]:
(df2.loc[:,['cuisines', 'average_cost_for_two']].groupby('cuisines').max().sort_values('average_cost_for_two', ascending=False).reset_index()).head(1)

            cuisines  average_cost_for_two
0  Modern Australian              25000017

#### 12. Qual o tipo de culinária que possui a maior nota média?

In [83]:
(df2.loc[:,['cuisines', 'aggregate_rating']].groupby('cuisines').max().sort_values('aggregate_rating', ascending=False).reset_index()).head(1)

  cuisines  aggregate_rating
0   Indian               4.9

#### 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [84]:
lines = (df2['has_online_delivery'] == 1) & (df2['is_delivering_now'] == 1)

(df2.loc[lines, ['restaurant_id', 'cuisines']].groupby('cuisines').count().sort_values('restaurant_id', ascending=False).reset_index()).head(1)

       cuisines  restaurant_id
0  North Indian            343